.about {
    // box model
    padding: 40px;
}

.about__header {
    // typography
    text-align: center;
}

.about__content {

}

.about__text {
    // typography
    color: $darkBlue;
    line-height: 1.5;
}