.advantages {
    // box model
    padding: 40px;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;

        // visual
        background-image: url('./img/bgs/connector-1.svg');
        background-repeat: no-repeat;
        background-position: bottom -200px right;
        background-size: 900px;
    }
    
    @include atDesktop {
        // box model
        padding: 120px calc((100% - 1040px) / 2);
        
        // visual
        background-position: bottom -300px right;
        background-size: 1100px;
    }

    &--advert {
        @include atTablet {
            // visual
            background-image: none;
        }

        @include atDesktop {
            // box model
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .advantages__header {
                // box model
                flex-basis: 33%;
                padding-right: 30px;

                // typography
                text-align: left;

                .section-title {
                    // box model
                    margin-top: 0;
                }
            }
            
            .advantages__content {
                // box model
                flex-basis: 66%;
                margin-bottom: -50px;
                margin-right: -40px;
                padding-left: 30px;
            }

            .advantages__list-item {
                // box model
                flex-basis: 50%;
            }
        }
    }
}

.advantages__header {
    // typography
    text-align: center;
}

.advantages__list {
    // box model
    margin: 0;
    padding: 0;
    
    // list
    list-style: none;
    counter-reset: item;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include atDesktop {
        // box model
        justify-content: flex-start;
    }
}

.advantages__list-item {
    // positioning
    position: relative;

    // box model
    margin-bottom: 40px;

    // typography
    color: $blue;
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;

    // list
    counter-increment: item;

    &::before {
        content: counter(item);
    
        // positioning
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    
        // typography
        color: $blue;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
    }

    @include atTablet {
        // box model
        flex-basis: 50%;
        padding-right: 40px;
    }

    @include atDesktop {
        // box model
        flex-basis: 33%;
    }
}