.clients {

}

.clients__left {
    // box model
    padding: 40px 60px;
}

.clients__right {
    // box model
    padding: 40px;

    // visual
    background-color: $blue;
    background-image: linear-gradient(to bottom, $blue, $lightBlue);

    @include atMobileL {
        // box model
        padding: 50px;
    }
}

.clients__header {
    // typography
    text-align: center;
}

.clients__subheader {
    // typography
    text-align: center;
}

.clients__left-content {
    @include atMobileL {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.clients__right-content {
    @include atMobileL {
        // box model
        padding: 0 30px;
    }
}

.clients__image {
    // box model
    margin-bottom: 40px;

    // typography
    text-align: center;

    @include atMobileL {
        // box model
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    &--mb40 {
        // box model
        margin-bottom: 40px;
    }
}

.clients__image img {
    // box model
    max-width: 100%;
}