.cta-button {
    // box model
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 240px;

    // typography
    color: $light;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $blue;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(60deg, $lightBlue, $blue);
    outline: none;

    &--dark {
        // visual
        background-color: $darkBlue;
        background-image: none;
    }
}