.devices {
    // box model
    padding: 40px;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        padding: 120px calc((100% - 1040px) / 2);
    }
}

.devices__header {
    // box model
    margin: 0 -20px;
    
    // typography
    text-align: center;

    @include atDesktop {
        // box model
        margin: 0 20px;
    }
}

.devices__content {
    @include atMobileL {
        // box model
        display: flex;
        flex-wrap: wrap;
    }

    @include atDesktop {
        // box model
        // border: 1px solid red;

        // visual
        // overflow: hidden;
    }
}