.device {
    // box model
    margin-bottom: 40px;
}

.device__image {

}

.device__image img {
    // box model
    width: 100%;
}

.device__header-n-content {

}

.device__header {

}

.device__title {
    // typography
    color: $blue;
    font-size: 1.5rem;
    text-align: center;
}

.device__subtitle {
    // typography
    color: #acacac;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
}

.device__content {

}

.device__content p {
    // typography
    line-height: 1.5;
}