.devices {
    // box model
    padding: 40px;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }
}

.devices__header {
    // box model
    margin: 0 -20px;
    
    // typography
    text-align: center;
}

.devices__content {
    
}