.device-item {
    // box model
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;

    @include atMobileL {
        // box model
        flex-direction: column;
        flex-basis: 50%;
        margin-bottom: 40px;
    }

    @include atTablet {
        // box model
        flex-basis: 33%;
    }

    @include atDesktop {
        // box model
        flex-basis: 25%;
        margin-bottom: 40px;
    }
}

.device-item__image {
    // box model
    max-width: 300px;
    flex-basis: 120px;
    
    @include atTablet {
        // box model
        margin: 0 auto;
        flex-basis: fill;
    }
}

.device-item__image img {
    // box model
    width: 100%;
}

.device-item__header {
    // box model
    padding: 0 20px;
    flex-basis: calc(100% - 120px);

    // typography
    text-align: center;
}

.device-item__title {

}

.device-item__more {
    // typography
    color: $blue;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        // visual
        opacity: 0.5;
    }
}