.device {
    // box model
    margin-bottom: 40px;

    @include atMobileL {
        // box model
        margin-bottom: 60px;
    }

    @include atTablet {
        // box model
        margin-bottom: 100px;
    }

    @include atDesktop {
        // box model
        display: flex;
    }
}

.device__image {
    @include atMobileL {
        // box model
        width: 260px;
        margin: 0 auto;
    }

    @include atDesktop {
        // box model
        order: 2;
        flex-basis: 40%;
        padding-left: 100px;
    }
}

.device__image img {
    // box model
    width: 100%;
}

.device__header-n-content {
    @include atDesktop {
        // box model
        order: 1;
        flex-basis: 60%;
    }
}

.device__header {
    // typography
    text-align: center;

    @include atDesktop {
        // typography
        text-align: left;
    }
}

.device__title {
    // box model
    margin-bottom: 0.5em;

    // typography
    color: $blue;
    font-size: 1.5rem;

    @include atMobileL {
        // typography
        font-size: 2rem;
    }

    @include atTablet {
        // typography
        font-size: 2.5rem;
    }
}

.device__subtitle {
    // typography
    color: #acacac;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;

    @include atTablet {
        // box model
        width: 460px;
        margin: 0 auto;

        // typography
        // font-size: 1.125rem;
        line-height: 1.5;
    }
    
    @include atDesktop {
        // box model
        margin: 0;
    }
}

.device__content {
    // 
}

.device__content p {
    // typography
    color: $darkBlue;
    font-size: 1rem;
    line-height: 1.5;

    @include atTablet {
        // typography
        font-size: 1.125rem;
    }
}