.feature {
    // box model
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 260px;

    // typography
    text-align: center;

    @include atMobileL {
        // box model
        max-width: 300px;
    }

    @include atTablet {
        // box model
        max-width: inherit;
        flex-basis: 45%;
        margin-bottom: 20px;
    }
}

.feature__icon {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 75px;

    @include atMobileL {
        // box model
        width: 90px;
    }

    @include atTablet {
        // box model
        width: 100px;
    }
}

.feature__icon img {
    // box model
    width: 100%;
}

.feature__title {
    // typography
    color: $light;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;

    @include atMobileL {
        // typography
        font-size: 1.5rem;
    }
}