.footer {
    // box model
    padding: 40px;

    // typography
    color: $light;
    text-align: center;

    // visual
    background-color: $darkBlue;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atDesktop {
        // positioning
        position: relative;

        // box model
        padding: 120px calc((100% - 1040px) / 2);
    }
}

.footer__header {
    // box model
    margin-bottom: 80px;

    @include atDesktop {
        text-align: left;
    }
}

.footer__title {
    // box model
    margin-bottom: 40px;
    
    // typography
    font-size: 1.5rem;
    font-weight: 400;

    @include atMobileL {
        // typography
        font-size: 2rem;
    }

    @include atTablet {
        // typography
        font-size: 2.5em;
    }
}

.footer__content {
    @include atDesktop {
        // typography
        text-align: left;
    }
}

.footer__address {
    // box model
    margin-bottom: 40px;

    // typography
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }
}

.footer__subtitle {
    // typography
    font-size: 1.125rem;

    @include atMobileL {
        // typography
        font-size: 1.5rem;
    }
}

.footer__contacts {
    // box model
    margin-bottom: 20px;
}

.footer__phone {
    // typography
    color: $light;
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }
}

.footer__mail {
    // typography
    color: $light;
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }
}

.footer__social {
    // box model
    margin-bottom: 40px;
}

.footer__form {
    // box model
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 40px;

    @include atDesktop {
        // positioning
        position: absolute;
        top: 140px;
        right: calc((100% - 1040px) / 2);

        // box model
        height: 600px;
        width: 500px;
    }
}

.footer__legals {
    // typography
    color: rgba($light, 0.5);
    font-size: 0.85rem;
    line-height: 1.5;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }

    @include atDesktop {
        // typography
        text-align: left;
    }
}

.footer__legals a {
    // box model
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    // typography
    color: rgba($light, 0.5);
    text-decoration: none;
}