.footer {
    // box model
    padding: 40px;

    // typography
    color: $light;
    text-align: center;

    // visual
    background-color: $darkBlue;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atDesktop {
        // positioning
        position: relative;

        // box model
        padding: 70px calc((100% - 1040px) / 2);

        // visual
        background-image: url('./img/bgs/connector-footer.svg');
        background-repeat: no-repeat;
        // background-position: bottom 0 left calc((100% - 1040px) / 2 + 340px);
        background-position: bottom -100px center;
        background-size: 800px;
    }
}

.footer__header {
    // box model
    margin-bottom: 80px;

    @include atDesktop {
        text-align: left;
    }
}

.footer__title {
    // box model
    margin-bottom: 40px;
    
    // typography
    font-size: 1.5rem;
    font-weight: 400;

    @include atMobileL {
        // typography
        font-size: 2rem;
    }

    @include atTablet {
        // typography
        font-size: 2.5em;
    }
}

.footer__content {
    @include atDesktop {
        // box model
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        // typography
        text-align: left;
    }
}

.footer__a-n-c {
    @include atDesktop {
        // box model
        display: flex;
        align-items: flex-end;
    }
}

.footer__address {
    // box model
    margin-bottom: 40px;

    // typography
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }

    @include atDesktop {
        // box model
        margin: 0;
        margin-right: 80px;
    }
}

.footer__subtitle {
    // typography
    font-size: 1.125rem;

    @include atMobileL {
        // typography
        font-size: 1.5rem;
    }

    @include atDesktop {
        // box model
        margin-top: 0;
    }

    &--contacts {
        @include atDesktop {
            // box model
            margin-top: 40px;
        }
    }
}

.footer__contacts {
    // box model
    margin-bottom: 20px;

    @include atDesktop {
        // box model
        margin: 0;
    }
}

.footer__phone {
    // typography
    color: $light;
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }
}

.footer__mail {
    // typography
    color: $light;
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }
}

.footer__social {
    // box model
    margin-bottom: 40px;

    @include atDesktop {
        // box model
        margin: 0;
        margin-top: 40px;
    }
}

.footer__form {
    // box model
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: -140px;

    @include atDesktop {
        // positioning
        position: absolute;
        top: 140px;
        right: calc((100% - 1040px) / 2);

        // box model
        height: 600px;
        width: 500px;
    }
}

.footer__legals {
    // typography
    color: rgba($light, 0.5);
    font-size: 0.85rem;
    line-height: 1.5;

    @include atMobileL {
        // typography
        font-size: 1rem;
    }

    @include atDesktop {
        // box model
        margin-bottom: 0;

        // typography
        text-align: left;
    }
}

.footer__legals a {
    // box model
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    // typography
    color: rgba($light, 0.5);
    text-decoration: none;
}