.footer {
    // box model
    padding: 40px;

    // typography
    color: $light;
    text-align: center;

    // visual
    background-color: $darkBlue;

    @include atMobileL {
        // box model
        padding: 50px;
    }
}

.footer__header {
    // box model
    margin-bottom: 80px;
}

.footer__title {
    // box model
    margin-bottom: 40px;
    
    // typography
    font-weight: 400;
}

.footer__address {
    // box model
    margin-bottom: 40px;

    // typography
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
}

.footer__subtitle {
    // typography
    font-size: 1.125rem;
}

.footer__contacts {
    // box model
    margin-bottom: 20px;
}

.footer__phone {
    // typography
    color: $light;
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;
}

.footer__mail {
    // typography
    color: $light;
    font-size: 0.85rem;
    line-height: 1.5;
    text-decoration: none;
}

.footer__social {
    // box model
    margin-bottom: 40px;
}

.footer__form {
    // box model
    margin-bottom: 40px;
}

.footer__legals {
    // typography
    color: rgba($light, 0.5);
    font-size: 0.85rem;
    line-height: 1.5;
}

.footer__legals a {
    // box model
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    // typography
    color: rgba($light, 0.5);
    text-decoration: none;
}