.form {
    // box model
    width: 100%;
}

.form__title {
    // box model
    margin-bottom: 20px;

    // typography
    font-size: 1.125rem;
}

.form__input {
    // box model
    display: block;
    margin-bottom: 20px;
    padding: 0 30px;
    width: 100%;

    // typography
    color: $light;
    line-height: 46px;

    // visual
    border: 2px solid #435988;
    border-radius: 25px;
    background-color: transparent;
    outline: none;
}

.form__input:focus {
    border: 2px solid $blue;
}