.form {
    // box model
    width: 100%;
    padding: 25px;

    // typography
    text-align: center;

    // visual
    background-color: $darkBlue;
}

.form__title {
    // box model
    margin-bottom: 20px;

    // typography
    color: $light;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.form__input-grp {
    position: relative;

    &::after {
        content: "*";

        // positioning
        position: absolute;
        top: 0;
        right: 0;

        // box model
        vertical-align: middle;
        width: 46px;
        // border: 1px solid red;

        // typography
        color: $blue;
        font-size: 1.5rem;
        line-height: 50px;
    }

    // box model
    // border: 1px solid red;
}

.form__input {
    // box model
    display: block;
    margin-bottom: 20px;
    padding: 0 30px;
    width: 100%;

    // typography
    color: $light;
    line-height: 46px;

    // visual
    border: 2px solid #435988;
    border-radius: 25px;
    background-color: transparent;
    outline: none;
}

.form__input::placeholder {
    // typography
    color: $blue;
    font-size: 1.125rem;
    font-weight: 500;
}

.form__input:focus {
    border: 2px solid $blue;
}

.form__submit {

}