.ghost-button {
    // box model
    display: inline-block;
    padding: 0 20px;
    max-width: 240px;

    // typography
    color: $blue;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    border: 2px solid $blue;
    border-color: $blue;
    border-radius: 25px;
}