.ghost-button {
    // box model
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 20px;
    min-width: 200px;
    max-width: 260px;

    // typography
    color: $blue;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $light;
    border: 2px solid $blue;
    border-color: $blue;
    border-radius: 25px;

    @include atTablet {
        // box model
        width: 280px;
        max-width: inherit;
    }
}