.hero {
    // box model
    height: 100vh;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    padding-bottom: 60px;

    // typography
    color: $light;

    // visual
    background-color: $darkBlue;
    background-image: url('./img/bgs/connectors-s.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    @include atMobileL {
        // box model
        padding: 50px;
        padding-bottom: 70px;
        
        // visual
        background-image: url('./img/bgs/connectors-m.svg');
    }
    
    @include atTablet {
        // box model
        padding: 70px;
        padding-bottom: 90px;

        // visual
        background-image: url('./img/bgs/connectors-t.svg');
    }
    
    @include atDesktop {
        // box model
        height: 100vh;
        max-height: 940px;
        padding: 120px calc((100% - 1040px) / 2);
        
        // visual
        background-image: url('./img/bgs/connectors-d.svg');
        background-size: cover;
        background-position: center right;
    }
    
    &--inner {
        // box model
        height: auto;
        padding-bottom: 150px;
        margin-bottom: -150px;
        
        // typography
        color: $darkBlue;
        
        // visual
        background-color: transparent;
        background-image: url('./img/bgs/connector-1.svg');
        background-position: bottom right;
        // background-size: 100%;
        background-size: 320px;
    }
    
    &--business {
        // box model
        justify-content: flex-end;
        
        // visual
        background-image: url('./img/bgs/business-m.jpg');
        
        .main-title {
            // typography
            text-align: left;
        }
        
        .hero__cta {
            // box model
            margin-top: 20px;

            // typography
            text-align: left;
        }
    }

    &--contacts {
        // box model
        height: auto;

        // visual
        background-image: none;
    }
}

.hero__top {
    // positioning
    position: absolute;
    top: 40px;
    left: 40px;

    @include atDesktop {
        // positioning
        left: 0;
        // top: 70px;
        top: -50px;
        top: 0;
        right: 0;

        // box model
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 calc((100% - 1060px) / 2);
        padding-top: 120px;
        padding-top: 70px;

        // visual
        transition: top 0.3s ease-in-out;
    }
}

.hero__top--fixed {
    @include atDesktop {
        // positioning
        position: fixed;
        top: 0;
        z-index: 99;
        
        // box model
        padding-top: 0;
        
        // visual
        background-color: #1d1f43;
        transition: top 0.3s ease-in-out;
    }
}

.hero__dummy {
    // box model
    display: block;
}

.hero__nav {
    // positioning
    position: fixed;
    bottom: -20%;
    right: -110%;
    top: -20%;
    z-index: 9;

    // box model
    width: 100%;

    // visual
    transition: all 0.3s ease-out;

    @include atTablet {
        // box model
        width: 400px;
    }

    @include atDesktop {
        // positioning
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;

        // box model
        width: auto;
    }
}

.hero__nav--shown {
    // positioning
    right: 0;
}

.hero__cta {
    // typography
    text-align: center;

    @include atTablet {
        // typography
        text-align: left;
    }
}