.hero {
    // box model
    height: 100vh;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;

    // typography
    color: $light;

    // visual
    background-color: $darkBlue;
    background-image: url('./img/bgs/connectors-s.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    &--inner {
        // box model
        height: auto;
        padding-bottom: 150px;
        margin-bottom: -150px;
        
        // typography
        color: $darkBlue;
        
        // visual
        background-color: transparent;
        background-image: url('./img/bgs/connector-1.svg');
        background-position: bottom right;
        // background-size: 100%;
        background-size: 320px;
    }
    
    &--business {
        // visual
        background-image: url('./img/bgs/connectors-s.svg'),
                          linear-gradient(to bottom, $blue, $lightBlue);
    }
}