.hero {
    // box model
    height: 100vh;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    padding-bottom: 60px;

    // typography
    color: $light;

    // visual
    background-color: $darkBlue;
    background-image: url('./img/bgs/connectors-s.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    @include atMobileL {
        // box model
        padding: 50px;
        padding-bottom: 70px;
        
        // visual
        background-image: url('./img/bgs/connectors-m.svg');
    }
    
    @include atTablet {
        // box model
        padding: 70px;
        padding-bottom: 90px;

        // visual
        background-image: url('./img/bgs/connectors-t.svg');
    }
    
    @include atDesktop {
        // box model
        padding: 80px calc((100% - 1040px) / 2);
        padding-bottom: 120px;
        
        // visual
        background-image: url('./img/bgs/connectors-d.svg');
        background-size: contain;
        background-position: center right;
    }
    
    &--inner {
        // box model
        height: auto;
        padding-bottom: 150px;
        margin-bottom: -150px;
        
        // typography
        color: $darkBlue;
        
        // visual
        background-color: transparent;
        background-image: url('./img/bgs/connector-1.svg');
        background-position: bottom right;
        // background-size: 100%;
        background-size: 320px;
    }
    
    &--business {
        // visual
        background-image: url('./img/bgs/connectors-s.svg'),
                          linear-gradient(to bottom, $blue, $lightBlue);
    }

    &--contacts {
        // box model
        height: auto;

        // visual
        background-image: none;
    }
}

.hero__cta {
    // typography
    text-align: center;

    @include atTablet {
        // typography
        text-align: left;
    }
}