.logo {
    // box model
    display: flex;
    align-items: center;
}

.logo__image {
    // box model
    height: 30px;
    margin-right: 10px;
}

.logo__image img {
    // box model
    height: 100%;
}

.logo__text {
    // typography
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}