.logo {
    // box model
    display: flex;
    align-items: center;
}

.logo__image {
    // box model
    height: 30px;
    margin-right: 10px;

    @include atMobileL {
        // box model
        height: 40px;
    }

    @include atTablet {
        // box model
        height: 55px;
    }
}

.logo__image img {
    // box model
    height: 100%;
}

.logo__text {
    // typography
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    @include atMobileL {
        // typography
        font-size: 1.25rem;
        font-weight: 400;
    }

    @include atTablet {
        // typography
        font-size: 1.5rem;
    }
}