.main-nav {
    // box model
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // visual
    background-color: $light;

    @include atDesktop {
        // visual
        background-color: transparent;
    }
}

.main-nav__list {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;
}

.main-nav__item {
    // box model
    margin: 10px 0;
    padding: 0;

    // typography
    text-align: center;

    @include atDesktop {
        // box model
        display: inline-block;
        vertical-align: top;
    }
}

.main-nav__link {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;

    // typography
    color: $violet;
    font-size: 1.125rem;
    text-decoration: none;

    @include atDesktop {
        // visual
        transition: all 0.15s ease-in;
    }
}

.main-nav__link:hover {
    // typography
    color: $lightBlue;
}