.main-title {
    // typography
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

    @include atMobileL {
        // typography
        font-size: 2rem;
    }

    @include atTablet {
        // box model
        width: 450px;
        
        // typography
        font-size: 2.5rem;
        text-align: left;
    }

    @include atDesktop {
        // box model
        width: 480px;
        
        // typography
        font-size: 2.75rem;
    }
}

.main-title em {
    // typography
    color: $blue;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75;
}

.main-title--dark {
    // typography
    color: $darkBlue;
}