.main-title {
    // typography
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

    @include atMobileL {
        // typography
        font-size: 2rem;
    }
}

.main-title em {
    // typography
    color: $blue;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75;

    // visual
    // maybe later
    // background-image: linear-gradient(60deg, $lightBlue, $blue);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.main-title--dark {
    // typography
    color: $darkBlue;
}