.main-title {
    // typography
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.main-title em {
    // typography
    color: $blue;
    font-style: normal;
    font-weight: 700;
}