.news {
    // box model
    padding: 40px 0;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        display: flex;
        padding: 120px calc((100% - 1040px) / 2);
    }
}

.news__header {
    // box model
    padding: 0 40px;
    
    // typography
    text-align: center;

    @include atDesktop {
        // box model
        flex-basis: 33%;

        // typography
        text-align: left;
    }
}

.news__content {
    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @include atDesktop {
        // box model
        flex-basis: 66%;
    }
}