.package {
    // box model
    margin-bottom: 40px;
}

.package__image {
    // box model
    display: none;
}

.package__image img {
    // box model
    width: 100%;
}

.package__header {

}

.package__title {
    // typography
    color: $darkBlue;
    font-size: 1.85rem;
    text-align: center;
}

.package__title strong {
    // typography
    color: $blue;
}

.package__income {
    // box model
    display: none;

    em {

    }
}

.package__content {

}

.package__content p {
    // typography
    line-height: 1.5;
}

.package__footer {
    // typography
    text-align: center;
}

.package__price {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    color: $darkBlue;
    font-size: 2.5rem;
    text-align: center;
}

.package__buttons {
    // typography
    text-align: center;
}

.package__more {
    // typography
    text-decoration: none;
    text-transform: uppercase;
}