.packages {
    // box model
    padding: 40px;

    // visual
    background-color: #f1f1f1;

    @include atMobileL {
        padding: 50px;
    }
}

.packages__header {
    // typography
    text-align: center;
}

.packages__content {
    
}

.packages__all {
    
}