.packages {
    // box model
    padding: 40px;
    padding-bottom: 1px;

    // visual
    background-color: #f1f1f1;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        // padding: 0;

        // visual
        background-color: transparent;
    }
}

.packages__header {
    // typography
    text-align: center;
}

.packages__content {
    
}