.price-plans {
    // box model
    padding: 40px;

    @include atTablet {

    }
}

.price-plans__header {
    // typography
    text-align: center;
}

.price-plans__content {
    // box model
    margin: 0 auto;
    max-width: 430px;
}