.price-plans {
    // box model
    padding: 40px;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        padding: 120px calc((100% - 1040px) / 2);
    }
}

.price-plans__header {
    // typography
    text-align: center;
}

.price-plans__content {
    // box model
    margin: 0 auto;
    max-width: 430px;

    @include atDesktop {
        // box model
        display: flex;
        justify-content: center;
        max-width: inherit;
    }
}