.profit {
    // box model
    margin-bottom: 60px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
    }
}

.profit__icon {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 90px;

    @include atTablet {
        // box model
        flex-basis: 20%;
    }
}

.profit__icon img {
    // box model
    width: 100%;
}

.profit__content {
    @include atTablet {
        // box model
        flex-basis: 80%;
        padding-left: 50px;
    
        // typography
        text-align: left;
    }
}

.profit__title {
    // typography
    color: $light;

    @include atTablet {
        // box model
        margin-top: 0;
    }
}

.profit__text {
    // typography
    color: rgba($light, 0.5);
    font-size: 0.85rem;
    line-height: 1.5;
}