.section-title {
    // box model
    padding-bottom: 1em;
    
    // typography
    color: $darkBlue;
    font-weight: 400;
    line-height: 1.25;

    &--inv {
        // typography
        color: $light;
    }
}