.stat {
    // typography
    text-align: center;

    @include atDesktop {
        // typography
        text-align: left;
    }
}

.stat__value {
    // box model
    margin-bottom: 0;

    // typography
    color: $blue;
    font-size: 2.5rem;
    font-weight: 700;

    @include atTablet {
        // typography
        font-size: 4rem;
    }
}

.stat__desc {
    // box model
    margin-top: 0;
    
    // typography
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    @include atTablet {
        // typography
        font-size: 1.25rem;
    }
}