.turnkey {
    // box model
    padding: 40px 20px;

    // visual
    background-color: $blue;
    background-image: linear-gradient(to bottom, $blue, $lightBlue);

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        // height: 100vh;
        display: flex;
        padding: 120px calc((100% - 1040px) / 2);
    }
}

.turnkey__header {
    // typography
    text-align: center;

    @include atTablet {
        // typography
        text-align: left;
    }

    @include atDesktop {
        // box model
        flex-basis: 50%;
    }
}

.turnkey__content {
    // box model
    padding: 0 20px;

    @include atTablet {
        // box model
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include atDesktop {
        // box model
        flex-basis: 50%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 60px;
    }
}