.u-get {
    // box model
    padding: 40px;
    padding-right: 20px;

    // visual
    background-color: $darkBlue;

    @include atMobileL {
        // box model
        padding: 50px 30px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        // height: 100vh;
        padding: 80px calc((100% - 1040px) / 2);
    }
}

.u-get__header {
    // typography
    text-align: center;

    @include atMobileL {
        // box model
        padding: 0 20px;
    }
}

.u-get__content {
    // box model
    padding-bottom: 20px;

    @include atMobileL {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.u-get__buttons {
    // box model
    margin-right: 20px;
    
    // typography
    text-align: center;
    @include atTablet {

    }
}