.video {
    // box model
    padding: 40px 0;

    // visual
    background-color: #f1f1f1;

    @include atMobileL {
        // box model
        padding: 50px 0;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }
}

.video__header {
    // box model
    padding: 0 20px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        padding: 0;
        
        // typography
        text-align: left;
    }
}

.video__content {
    
}