.why-list {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;
    counter-reset: item;

    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        // flex-direction: row;
        // flex-wrap: nowrap;
        // height: 100vh;
    }
}

.why-list__item {
    // positioning
    position: relative;

    // box model
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-bottom: 30px;

    // typography
    color: $darkBlue;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    // list
    counter-increment: item;

    @include atMobileL {
        // typography
        font-size: 1.125rem;
    }

    @include atTablet {
        // box model
        flex-basis: 48%;
        margin-bottom: 40px;
        min-height: 110px;
        min-height: 7em;

        // typography
        font-size: 1.125rem;
    }

    @include atDesktop {
        // box model
        margin-bottom: 20px;
    }
}

.why-list__item::before {
    content: counter(item);

    // positioning
    position: absolute;
    top: 0;
    left: 20px;

    // typography
    color: $blue;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;

    @include atMobileL {
        // typography
        font-size: 3rem;
    }

    @include atTablet {
        // typography
        font-size: 4rem;
    }
}