.why {
    // box model
    padding: 40px;

    @include atMobileL {
        // box model
        padding: 50px;
    }
}

.why__header {
    // typography
    text-align: center;
}

.why__content {
    
}