.why {
    // box model
    padding: 40px;

    @include atMobileL {
        // box model
        padding: 50px;
    }

    @include atTablet {
        // box model
        padding: 70px;
    }

    @include atDesktop {
        // box model
        // height: 100vh;
        display: flex;
        padding: 120px calc((100% - 1040px) / 2);
        padding-bottom: 80px;
    }
}

.why__header {
    // typography
    text-align: center;

    @include atTablet {
        // box model
        width: 400px;
        
        // typography
        text-align: left;
    }

    @include atDesktop {
        // box model
        flex-basis: 33%;
    }
}

.why__content {
    @include atDesktop {
        // box model
        flex-basis: 66%;
    }
}