.wish {
    // box model
    margin-bottom: 40px;
    width: 360px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        width: auto;
        max-width: 360px;
        flex-basis: 50%;
    }

    @include atDesktop {
        // box model
        flex-basis: 33%;
    }
}

.wish__icon {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 65px;
}

.wish__icon img {
    width: 100%;
}

.wish__title {
    // typography
    color: $light;
    font-size: 1.125rem;
    line-height: 1.25;
}