<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero.hero--business
            .hero__top
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast Charger

                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item
                            a.main-nav__link(href="#") Франшиза
                        li.main-nav__item
                            a.main-nav__link(href="#") Для Бизнеса
                        li.main-nav__item
                            a.main-nav__link(href="#") О Нас
                        li.main-nav__item
                            a.main-nav__link(href="#") FAQ
                        li.main-nav__item
                            a.main-nav__link(href="#") Новости
                        li.main-nav__item
                            a.main-nav__link(href="#") Контакты

            h1.main-title.main-title--dark Чистая энергия <br><strong>вашего бизнеса</strong>

            .hero__cta
                a.cta-button.cta-button--dark(href="#") Подробнее

        section.u-want
            header.u-want__header
                h2.section-title Вы <strong>хотите:</strong>

            .u-want__content
                article.wish
                    .wish__icon: img(src="./img/icons/money.svg", alt="Больше денег")
                    h3.wish__title Увеличить средний чек

                article.wish
                    .wish__icon: img(src="./img/icons/advantage.svg", alt="Стать лучше")
                    h3.wish__title Получить дополнительное конкурентное преимущество

                article.wish
                    .wish__icon: img(src="./img/icons/loyality.svg", alt="Повысить лояльность")
                    h3.wish__title Повысить лояльность клиентов

        section.profits
            header.profits__header
                h2.section-title.section-title--inv Почему выгодно устанавливать в своём заведении устройства <strong>JAST CHARGER</strong>

            .profits__content
                article.profit
                    .profit__icon: img(src="./img/icons/question.svg", alt="Конкурентноспособность")
                    h3.profit__title Конкурентноспособность
                    p.profit__text Как Вы думаете, какое из двух заведений, с примерно одинаковыми ценами и расположением выберет клиент? Верно, именно то, в котором он позавчера заряжал внезапно разрядившийся телефон. В этой ситуации именно вы дадите нужное конкурентное преимущество заведению.

                article.profit
                    .profit__icon: img(src="./img/icons/devices.svg", alt="Универсально и просто")
                    h3.profit__title Универсально и просто
                    p.profit__text Устройство подходит для зарядки практически любых телефонов и смартфонов, оснащено разъемами для 99 % предлагаемых на рынке моделей. Заряжать гаджет с его помощью так же просто, как и собственной фирменной зарядкой.

                article.profit
                    .profit__icon: img(src="./img/icons/megaphone.svg", alt="Узнаваемость")
                    h3.profit__title Повышение узнаваемости и реклама
                    p.profit__text Мы предоставляем все рекламные материалы, а также рекламируем Ваше заведение на своих рекламных площадках.

                article.profit
                    .profit__icon: img(src="./img/icons/locked.svg", alt="Защита")
                    h3.profit__title Надёжно и защищено
                    p.profit__text Устройство нельзя зарядить ни от одного из существующих зарядных устройств, т.к. разъемы устройства работают только с оригинальной базой. Зарядное устройство затруднительно незаметно украсть.

        section.faq
            header.faq__header
                h2.section-title Почему нужно организовывать сервис зарядки телефонов в своем заведении?
                p.faq__subtitle 70% процентов современного населения страдает смартфономанией. Это заболевание 21&nbsp;века, ставшее пандемией, и&nbsp;выражается в&nbsp;тотальной зависимости людей от своих гаджетов. именно поэтому компания Jast Charger предлагает не только повысить лояльность клиентов за счет этого «недуга», но и&nbsp;увеличить прибыль.

            .faq__content
                article.question
                    h3.question__definition Какие устройства могут заряжать станции Jast Charger?
                    p.question__answer Устройство подходит для зарядки практически любых телефонов, смартфонов, а также планшетов, оснащено разъемами для 99% предлагаемых на рынке моделей: Apple, Samsung, Nokia, Sony, HTC, Fly, Philips, Vertu, LG и многих других.
                    
                article.question
                    h3.question__definition Как будут работать станции в моём заведении?
                    p.question__answer Для того чтобы исполнить просьбу клиента, вашим официантам достаточно просто захватить с собой портативное зарядное устройство Jast Charger и элегантно преподнести его. Без надобности распутывать клубок из десятка разных зарядок, рискуя сломать провод. Без необходимости следить за смартфоном клиента на кухне. Без переходников, валяющихся в ящике. Официанты будут обслуживать гостей так же быстро, как и прежде, ни на что не отвлекаясь.

                article.question
                    h3.question__definition Что получит организация от этой услуги в своём заведении?
                    p.question__answer Как только клиентам понадобится зарядить свой гаджет, а они будут не дома, они вспомнят о месте где это можно сделать. Вспомнят о том, с каким комфортом они в прошлый раз подзарядили свой телефон. А затем зайдут и зарядят его снова, попутно заказав латте или бизнес-ланч. Заведение получает лояльность клиентов: его рекомендуют, как отличное заведение, в котором всегда можно зарядить любую модель смартфона на 10 столиках одновременно. К тому же, теперь есть новая уникальная рекламная площадка на устройствах и станции, где можно разместить рекламу одного из заведений или партнеров.

                article.question
                    h3.question__definition Какие дополнительные затраты я понесу?
                    p.question__answer Никаких! На устройство действует гарантия 6 месяцев.

                article.question
                    h3.question__definition Есть ли защита от воровства?
                    p.question__answer Конечно, мы предусмотрели этот момент. Наше устройство нельзя зарядить ни от одного из существующих зарядных устройств, т.к. разъемы устройства работают только с оригинальной зарядной станцией. К тому же, зарядное устройство затруднительно незаметно украсть. А также, почти всем заведения заносят услугу зарядки телефона в R-keeper, в компьютерное меню, чтобы зарядка отражалась в чеке наравне с другими позициями. Таким образом, официанты всегда в курсе за каким столиком сидят гости с зарядкой.

                article.question
                    h3.question__definition Зачем нужны зарядки, если есть разетки / power banks (аккумуляторы)?
                    p.question__answer Разумеется, в каждом заведении есть розетки, которыми клиенты могут воспользоваться. Тем не менее, клиенты редко носят зарядки с собой, а еще реже розетки располагаются у каждого столика, что, несомненно, вызывает массу неудобств для современного человека. Power banks (портативные аккумуляторы) не являются хорошим решением для заведения по следующим причинам: их могут украсть (устройства Jast Charger обладают защитой от воровства); неудобство при перезарядке (потребуется много розеток и проводов, а также дополнительные временные затраты персонала); отсутствие гарантии и сервисного обслуживания; отсутствие дополнительной уникальной рекламной площадки (размещается на наших устройствах и станциях). К тому же, аккумулятору также необходимо восполнять заряд, что вынуждает персонал постоянно контролировать этот процесс, подключая устройства к розеткам, в связи с чем возникает дополнительная нагрузка и возникают сложности в оказании данной услуги. Наши устройства – отличное решение данной проблемы. Портативные зарядные устройства Jast Charger заряжают 99% современных смартфонов и планшетов. Также клиент имеет полную свободу действий со своим смартфоном, ведь теперь он не привязан проводами к розетке.

                article.question
                    h3.question__definition Насколько востребована данная услуга?
                    p.question__answer Еще каких-то 8 лет назад, наличие Wi-Fi интернета в кафе и ресторанах являлось атрибутом успешного, идущего в ногу со временем заведения, соответствующего изменчивым запросам своих клиентов. Такие заведения сразу оказались на хорошем счету у своих посетителей. Сегодня в 9 общественных местах из 10 имеется доступ к Wi-Fi и его наличие обязательно, так же как и заряженный смартфон для пользования интернет сетью. Зарядные станции Jast Charger – это обеспечение энергетических потребностей каждого клиента в комплексе с уникальной рекламной площадкой и удобством использования. До тех пор, пока будут существовать смартфоны, электронные планшеты и другие устройства, требующие своевременной подзарядки, решение от Jast Charger будет оставаться актуальным и востребованным.


        section.footer
            header.footer__header
                h2.footer__title Контакты

                p.footer__address Россия, г. Калининград <br>ул. Театральная, 35, офис 616 <br>(Морской Бизнес Центр)

                h3.footer__subtitle Отдел продаж:

                .footer__contacts
                    a.footer__phone(href="tel:+79097782086") +7 909 778-20-86 
                    a.footer__mail(href="mailto:manager@jast.tech") manager@jast.tech

                .footer__social
                    a.social.social--vk(href="#") ВКонтакте
                    a.social.social--inst(href="#") Инстаграм

            .footer__form
                form.form(action="")
                    h3.form__title Заполните форму и мы свяжемся с вами как можно скорее:
                    input#name.form__input(type="text", name="name" placeholder="Ваше имя")
                    input#email.form__input(type="email", name="email" placeholder="Ваш e-mail")
                    input#phone.form__input(type="text", name="phone" placeholder="Ваш телефон")
                    input#city.form__input(type="text", name="city" placeholder="Ваш город")
                    input.cta-button(type="submit", value="Отправить")

            p.footer__legals
                a(href="#") Договор оферты