<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero.hero--business
            .hero__top
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast Charger

                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item
                            a.main-nav__link(href="#") Франшиза
                        li.main-nav__item
                            a.main-nav__link(href="#") Для Бизнеса
                        li.main-nav__item
                            a.main-nav__link(href="#") О Нас
                        li.main-nav__item
                            a.main-nav__link(href="#") FAQ
                        li.main-nav__item
                            a.main-nav__link(href="#") Новости
                        li.main-nav__item
                            a.main-nav__link(href="#") Контакты

            h1.main-title.main-title--dark Чистая энергия <br><strong>вашего бизнеса</strong>

            .hero__cta
                a.cta-button.cta-button--dark(href="#") Подробнее

        section.u-want
            header.u-want__header
                h2.section-title Вы <strong>хотите:</strong>

        section.u-get
            header.u-get__header
                h2.section-title.section-title--inv Что получает <strong>франчайзи</strong>

            .u-get__content
                article.item
                    .item__icon: img(src="./img/icons/plug.svg", alt="Набор устройств")
                    h3.item__title Комплект зарядных станций и&nbsp;набор проводов
                    
                article.item
                    .item__icon: img(src="./img/icons/shipping.svg", alt="Доставка")
                    h3.item__title Бесплатная доставка и&nbsp;хранение
                    
                article.item
                    .item__icon: img(src="./img/icons/online-support.svg", alt="Поддержка онлайн")
                    h3.item__title Персональный менеджер
                    
                article.item
                    .item__icon: img(src="./img/icons/layer.svg", alt="Юридическая поддержка")
                    h3.item__title Юридическая поддержка
                    
                article.item
                    .item__icon: img(src="./img/icons/portal.svg", alt="Диллерский портал")
                    h3.item__title Дилерский портал
                    
                article.item
                    .item__icon: img(src="./img/icons/clients.svg", alt="Клиенты")
                    h3.item__title Предоставление конечных клиентов из&nbsp;вашего города
                    
                article.item
                    .item__icon: img(src="./img/icons/web-site.svg", alt="Веб сайт")
                    h3.item__title Представительский сайт
                    
                article.item
                    .item__icon: img(src="./img/icons/wires.svg", alt="Устройства")
                    h3.item__title Доступ к&nbsp;широкой линейке устройств
                    
                article.item
                    .item__icon: img(src="./img/icons/target.svg", alt="Цель")
                    h3.item__title Маркетинговая поддержка

            .u-get__buttons
                a.cta-button(href="#") Подробнее

        section.models
            header.models__header
                h2.section-title 4 модели <strong>монетизации бизнеса:</strong>

            .models__content
                .models__set
                    h3.models__title Основные:

                    article.model
                        .model__icon: img(src="./img/icons/charging.svg", alt="Зарядка гаджетов")
                        h4.model__title от 15&nbsp;000 рублей
                        p.model__text Заряжая гаджеты клиентов, 1 станция <strong>принесёт Вам доход от 15&nbsp;000 до 60&nbsp;000 рублей в месяц</strong>

                    article.model
                        .model__icon: img(src="./img/icons/megaphone.svg", alt="Реклама")
                        h4.model__title от 3000 рублей
                        p.model__text Размещая самостоятельно рекламу на своих зарядных станциях Вы можете получать <strong>до 3&nbsp;000 рублей в месяц с одной зарядной станции</strong>

                .models__set
                    h3.models__title Дополнительные:

                    article.model
                        .model__icon: img(src="./img/icons/rent.svg", alt="Сдача в аренду")
                        h4.model__title от 70&nbsp;000 рублей
                        p.model__text На сдаче зарядных станций в аренду. Например, аренда одной станции компании Jast Charger составляет от 7&nbsp;000 до 15&nbsp;000 рублей в месяц. Сдавая в аренду 10 станций Ваш доход в месяц составит <strong>от 70&nbsp;000 до 150&nbsp;000 рублей в месяц</strong>

                    article.model
                        .model__icon: img(src="./img/icons/resale.svg", alt="Перепродажа")
                        h4.model__title от 150&nbsp;000 рублей
                        p.model__text На перепродаже зарядного оборудования. Доход при реализации проектов франшизы варьируется <strong>от 150&nbsp;000 до 600&nbsp;000 рублей</strong>

        section.clients
            .clients__left
                header.clients__header
                    h2.section-title Наши <strong>клиенты</strong>

                .clients__content
                    .clients__image: img(src="./img/clients/sberbank.png", alt="Сбербанк")
                    .clients__image: img(src="./img/clients/oldboy.png", alt="сеть барбершопов Oldboy")
                    .clients__image: img(src="./img/clients/radisson.png", alt="сеть отелей Radisson")
                    .clients__image: img(src="./img/clients/yakitoriya.png", alt="сеть ресторанов японской кухни Якитория")
                    .clients__image: img(src="./img/clients/subway.png", alt="сеть ресторанов быстрого питания Subway")
                    .clients__image: img(src="./img/clients/the-office.png", alt="")

            .clients__right
                .clients__subheader
                    h3.section-title.section-title--inv Нам доверяют <strong>крупнейшие порталы</strong> франшиз

                .clients__content
                    .clients__image: img(src="./img/clients/businesmens.png", alt="Бизнесменс")
                    .clients__image: img(src="./img/clients/topfranchise.png", alt="TopFranchise.ru")
                    .clients__image: img(src="./img/clients/beboss.png", alt="БиБосс")

        //- section.testimonials
            header.testimonials__header
                h2.section-title Отзывы

            .testimonials__content
                .slider
                    button.slider__prev <
                        button.slider__next >
                        .slider__slides
                            .slider__slide
        
        section.gallery
        
        section.footer
            header.footer__header
                h2.footer__title Контакты

                p.footer__address Россия, г. Калининград <br>ул. Театральная, 35, офис 616 <br>(Морской Бизнес Центр)

                h3.footer__subtitle Отдел продаж:

                .footer__contacts
                    a.footer__phone(href="tel:+79097782086") +7 909 778-20-86 
                    a.footer__mail(href="mailto:manager@jast.tech") manager@jast.tech

                .footer__social
                    a.social.social--vk(href="#") ВКонтакте
                    a.social.social--inst(href="#") Инстаграм

            .footer__form
                form.form(action="")
                    h3.form__title Заполните форму и мы свяжемся с вами как можно скорее:
                    input#name.form__input(type="text", name="name" placeholder="Ваше имя")
                    input#email.form__input(type="email", name="email" placeholder="Ваш e-mail")
                    input#phone.form__input(type="text", name="phone" placeholder="Ваш телефон")
                    input#city.form__input(type="text", name="city" placeholder="Ваш город")
                    input.cta-button(type="submit", value="Отправить")

            p.footer__legals
                a(href="#") Договор оферты