<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero.hero--business
            button.menu-button: .menu-button__middle

            .hero__top
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast&nbsp;Charger

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item
                                a.main-nav__link(href="index.html") Франшиза
                            li.main-nav__item
                                a.main-nav__link.main-nav__link--current(href="#") Для Бизнеса
                            li.main-nav__item
                                a.main-nav__link(href="about.html") О Нас
                            li.main-nav__item
                                a.main-nav__link(href="faq.html") FAQ
                            li.main-nav__item
                                a.main-nav__link(href="news.html") Новости
                            li.main-nav__item
                                a.main-nav__link(href="contacts.html") Контакты

            .hero__dummy
            
            h1.main-title Чистая энергия <br><strong>вашего бизнеса</strong>

            .hero__cta
                a.cta-button.contact-button(href="#") Подробнее

        section.about-stats
            .about-stats__content
                header.about-stats__header
                    h2.section-title <strong>Как часто Вы заряжаете</strong> телефон?

                    p А сколько раз Вы оказывались в ситуации, когда необходимо срочно зарядить гаджет «здесь и сейчас»? Знакомо? Потому что актуально, ине только для Вас, но и для сотен людей вокруг, в том числе и для Ваших клиентов.

                    p Сотни успешных компаний по всему миру уже «заряжают» своих клиентов. Десятки тысяч посетителей различных заведений уже получают энергию для своих смартфонов и планшетов. Теперь настал Ваш черёд присоединиться к JAST CHARGER.

                .about-stats__stats
                    article.stat
                        p.stat__value 193&nbsp;270
                        p.stat__desc гаджетов мы зарядили

                    article.stat
                        p.stat__value 386&nbsp;000&nbsp;000
                        p.stat__desc mAh передали наши устройства гаджетам

                    article.stat
                        p.stat__value 311&nbsp;309
                        p.stat__desc человек видели как работает JAST&nbsp;CHARGER

            .about-stats__cta
                a.ghost-button.contact-button(href="#") Получить презентацию

        section.u-want
            header.u-want__header
                h2.section-title.section-title--inv <strong>Заведения, которые начали сотрудничать с&nbsp;нами уже успели:</strong>

            .u-want__content
                article.wish
                    .wish__icon: img(src="./img/icons/money.svg", alt="Больше денег")
                    h3.wish__title Увеличить средний чек

                article.wish
                    .wish__icon: img(src="./img/icons/advantage.svg", alt="Стать лучше")
                    h3.wish__title Получить дополнительное конкурентное преимущество

                article.wish
                    .wish__icon: img(src="./img/icons/loyality.svg", alt="Повысить лояльность")
                    h3.wish__title Повысить лояльность клиентов

        section.advantages
            header.advantages__header
                h2.section-title <strong>Почему клиенты выбирают</strong> JAST&nbsp;CHARGER&nbsp;?

            .advantages__content
                ol.advantages__list
                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Ваша выгода
                            p.advantage__text JAST CHARGER гарантирует повышение лояльности Ваших клиентов. Вы можете включить услугу использования устройств JAST&nbsp;CHARGER в Ваш прайс-лист.

                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Ваше преимущество
                            p.advantage__text JAST CHARGER выгодно отличает Вас от конкурентов. Вы не просто предоставляете услуги, Вы еще и «заряжаете» посетителей энергией.

                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Проверенный опыт
                            p.advantage__text Тысячи крупных предприятий уже используют charging: McDonalds, Toyota, Marriott, Gap... Этот список можно продолжать бесконечно.
                            
                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Простота
                            p.advantage__text JAST CHARGER очень прост в использовании. Вашему персоналу не требуется проводить никакого обучения и инструктажа для использования устройств.

                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Дизайн
                            p.advantage__text Дизайн устройства впишется в любой интерьер. Свободный корпус устройства позволяет размещать Вашу рекламу.

                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Универсальность
                            p.advantage__text JAST CHARGER дружелюбен. Наши зарядные устройства подходят для всех современных гаджетов.

                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Сохранность
                            p.advantage__text Уникальный способ зарядки устройств делает его бесполезным с точки зрения воровства.

                    li.advantages__list-item
                        article.advantage
                            h3.advantage__title Техническая поддержка
                            p.advantage__text JAST CHARGER очень прост в использовании. Наш специалист планово или при необходимости абсолютно бесплатно приедет к Вам для проверки устройств.

        section.profits
            header.profits__header
                h2.section-title.section-title--inv <strong>Варианты</strong> сотрудничества

            .profits__content
                article.profit
                    .profit__icon: img(src="./img/icons/rent.svg", alt="Аренда")
                    .profit__content
                        h3.profit__title Аренда
                        p.profit__text Предоставим зарядную станцию в аренду Вашему заведению;<br> Брендируем зарядные устройства в Вашем фирменном стиле;<br> Изготовим и разместим Ваши рекламные/акционные материалы на наших устройствах.

                article.profit
                    .profit__icon: img(src="./img/icons/charging.svg", alt="Партнёрство")
                    .profit__content
                        h3.profit__title Партнёрство
                        p.profit__text Предоставим зарядную станцию за процент от реализации услуги «Заряди своё устройство»<br> Брендируем зарядные устройства в Вашем фирменном стиле / Разместим рекламные материалы сторонних компаний для дополнительной монетизации

                article.profit
                    .profit__icon: img(src="./img/icons/sale.svg", alt="Продажа")
                    .profit__content
                        h3.profit__title Продажа
                        p.profit__text Предоставляем Вам в конечное пользование зарядную станцию

        section.faq
            header.faq__header
                h2.section-title Почему нужно организовывать сервис зарядки телефонов в&nbsp;своем заведении?
                p.faq__subtitle 70% процентов современного населения страдает смартфономанией. Это заболевание 21&nbsp;века, ставшее пандемией, и&nbsp;выражается в&nbsp;тотальной зависимости людей от своих гаджетов. именно поэтому компания Jast Charger предлагает не только повысить лояльность клиентов за счет этого «недуга», но и&nbsp;увеличить прибыль.

            .faq__content
                article.question
                    h3.question__definition Какие устройства могут заряжать станции Jast&nbsp;Charger?
                    p.question__answer Устройство подходит для зарядки практически любых телефонов, смартфонов, а также планшетов, оснащено разъемами для 99% предлагаемых на рынке моделей: Apple, Samsung, Nokia, Sony, HTC, Fly, Philips, Vertu, LG и многих других.
                    
                article.question
                    h3.question__definition Как будут работать станции в моём заведении?
                    p.question__answer Для того чтобы исполнить просьбу клиента, вашим официантам достаточно просто захватить с собой портативное зарядное устройство Jast Charger и элегантно преподнести его. Без надобности распутывать клубок из десятка разных зарядок, рискуя сломать провод. Без необходимости следить за смартфоном клиента на кухне. Без переходников, валяющихся в ящике. Официанты будут обслуживать гостей так же быстро, как и прежде, ни на что не отвлекаясь.

                article.question
                    h3.question__definition Что получит организация от этой услуги в своём заведении?
                    p.question__answer Как только клиентам понадобится зарядить свой гаджет, а они будут не дома, они вспомнят о месте где это можно сделать. Вспомнят о том, с каким комфортом они в прошлый раз подзарядили свой телефон. А затем зайдут и зарядят его снова, попутно заказав латте или бизнес-ланч. Заведение получает лояльность клиентов: его рекомендуют, как отличное заведение, в котором всегда можно зарядить любую модель смартфона на 10 столиках одновременно. К тому же, теперь есть новая уникальная рекламная площадка на устройствах и станции, где можно разместить рекламу одного из заведений или партнеров.

                article.question
                    h3.question__definition Какие дополнительные затраты я понесу?
                    p.question__answer Никаких! На устройство действует гарантия 6 месяцев.

                article.question
                    h3.question__definition Есть ли защита от воровства?
                    p.question__answer Конечно, мы предусмотрели этот момент. Наше устройство нельзя зарядить ни от одного из существующих зарядных устройств, т.к. разъемы устройства работают только с оригинальной зарядной станцией. К тому же, зарядное устройство затруднительно незаметно украсть. А также, почти всем заведения заносят услугу зарядки телефона в R-keeper, в компьютерное меню, чтобы зарядка отражалась в чеке наравне с другими позициями. Таким образом, официанты всегда в курсе за каким столиком сидят гости с зарядкой.

                article.question
                    h3.question__definition Зачем нужны зарядки, если есть разетки / power banks (аккумуляторы)?
                    p.question__answer Разумеется, в каждом заведении есть розетки, которыми клиенты могут воспользоваться. Тем не менее, клиенты редко носят зарядки с собой, а еще реже розетки располагаются у каждого столика, что, несомненно, вызывает массу неудобств для современного человека. Power banks (портативные аккумуляторы) не являются хорошим решением для заведения по следующим причинам: их могут украсть (устройства Jast Charger обладают защитой от воровства); неудобство при перезарядке (потребуется много розеток и проводов, а также дополнительные временные затраты персонала); отсутствие гарантии и сервисного обслуживания; отсутствие дополнительной уникальной рекламной площадки (размещается на наших устройствах и станциях). К тому же, аккумулятору также необходимо восполнять заряд, что вынуждает персонал постоянно контролировать этот процесс, подключая устройства к розеткам, в связи с чем возникает дополнительная нагрузка и возникают сложности в оказании данной услуги. Наши устройства – отличное решение данной проблемы. Портативные зарядные устройства Jast Charger заряжают 99% современных смартфонов и планшетов. Также клиент имеет полную свободу действий со своим смартфоном, ведь теперь он не привязан проводами к розетке.

                article.question
                    h3.question__definition Насколько востребована данная услуга?
                    p.question__answer Еще каких-то 8 лет назад, наличие Wi-Fi интернета в кафе и ресторанах являлось атрибутом успешного, идущего в ногу со временем заведения, соответствующего изменчивым запросам своих клиентов. Такие заведения сразу оказались на хорошем счету у своих посетителей. Сегодня в 9 общественных местах из 10 имеется доступ к Wi-Fi и его наличие обязательно, так же как и заряженный смартфон для пользования интернет сетью. Зарядные станции Jast Charger – это обеспечение энергетических потребностей каждого клиента в комплексе с уникальной рекламной площадкой и удобством использования. До тех пор, пока будут существовать смартфоны, электронные планшеты и другие устройства, требующие своевременной подзарядки, решение от Jast Charger будет оставаться актуальным и востребованным.

        section.footer
            header.footer__header
                h2.footer__title Контакты

                p.footer__address Россия, г. Калининград <br>ул. Театральная, 35, офис 616 <br>(Морской Бизнес Центр)

                h3.footer__subtitle Отдел продаж:

                .footer__contacts
                    a.footer__phone(href="tel:+79097782086") +7 909 778-20-86 
                    a.footer__mail(href="mailto:manager@jast.tech") manager@jast.tech

                .footer__social
                    a.social.social--vk(href="#") ВКонтакте
                    a.social.social--inst(href="#") Инстаграм

            //- .footer__form
                //- <script>var amo_forms_params = {"id":361897,"hash":"e7f3326ccdf13ebb3dcacd1535ecdd32","locale":"ru"};</script><script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js"></script>

            p.footer__legals
                a(href="#") Договор оферты

        .contact-popup.contact-popup--hidden
            button.contact-popup__close
            .contact-popup__cover
            .contact-popup__form
                <script>var amo_forms_params = {"id":361897,"hash":"e7f3326ccdf13ebb3dcacd1535ecdd32","locale":"ru"};</script><script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js"></script>

        script(src="./business.js")