<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero.hero--contacts
            .hero__top
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast&nbsp;Charger

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item
                                a.main-nav__link(href="index.html") Франшиза
                            li.main-nav__item
                                a.main-nav__link(href="business.html") Для Бизнеса
                            li.main-nav__item
                                a.main-nav__link(href="about.html") О Нас
                            li.main-nav__item
                                a.main-nav__link(href="faq.html") FAQ
                            li.main-nav__item
                                a.main-nav__link(href="news.html") Новости
                            li.main-nav__item
                                a.main-nav__link.main-nav__link--current(href="#") Контакты

        section.footer
            header.footer__header
                h2.footer__title Контакты

                p.footer__address Россия, г. Калининград <br>ул. Театральная, 35, офис 616 <br>(Морской Бизнес Центр)

                h3.footer__subtitle Отдел продаж:

                .footer__contacts
                    a.footer__phone(href="tel:+79097782086") +7 909 778-20-86 
                    a.footer__mail(href="mailto:manager@jast.tech") manager@jast.tech

                .footer__social
                    a.social.social--vk(href="#") ВКонтакте
                    a.social.social--inst(href="#") Инстаграм

            .footer__form
                form.form(action="")
                    h3.form__title Заполните форму и мы свяжемся с вами как можно скорее:
                    input#name.form__input(type="text", name="name" placeholder="Ваше имя")
                    input#email.form__input(type="email", name="email" placeholder="Ваш e-mail")
                    input#phone.form__input(type="text", name="phone" placeholder="Ваш телефон")
                    input#city.form__input(type="text", name="city" placeholder="Ваш город")
                    input.cta-button(type="submit", value="Отправить")

            .footer__legals
                p ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ВИР&nbsp;ХОЛДИНГ» <br>ИНН 3906359034 <br>КПП 390601001 <br>ОГРН 1173926025228 <br>Расчетный счет 40702810210000210440 <br>Банк АО «ТИНЬКОФФ БАНК» <br>Юридический адрес банка Москва, 123060, 1-й Волоколамский проезд, д. 10, стр. 1 <br>Корр.счет банка 30101810145250000974 <br>ИНН банка 7710140679 <br>БИК банка 044525974
                a(href="#") Договор оферты