<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero
            button.menu-button: .menu-button__middle

            .hero__top.hero__top--fixed
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast&nbsp;Charger
                
                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item
                                a.main-nav__link.main-nav__link--current(href="#") Франшиза
                            li.main-nav__item
                                a.main-nav__link(href="business.html") Для Бизнеса
                            li.main-nav__item
                                a.main-nav__link(href="about.html") О Нас
                            li.main-nav__item
                                a.main-nav__link(href="faq.html") FAQ
                            li.main-nav__item
                                a.main-nav__link(href="news.html") Новости
                            li.main-nav__item
                                a.main-nav__link(href="contacts.html") Контакты
            
            //- Needed for properly work of flex
            .hero__dummy

            h1.main-title Постройте бизнес на потребности 21&nbsp;века! Заработок от <em>80000</em> рублей в&nbsp;месяц!

            .hero__cta
                a.cta-button.contact-button(href="#") Подробнее

        section.about
            header.about__header
                h2.section-title Пассивный доход <strong>при&nbsp;минимуме усилий</strong>

            .about__content
                p.about__text Знаете ли Вы хоть одного человека, которому НЕ нужно заряжать свой сотовый или планшет? Едва ли. Ведь каждый современный человек нуждается в подзарядке своих электронных устройств, будь то смартфон, планшет, электронная книга или другое электронное устройство. Наша компания рада предложить Вам проект, который позволяет заработать на зарядке мобильных устройств. Всё, что Вам необходимо – это франшиза от компании Just Charger. Благодаря ей Вы сможете получать ежемесячный пассивный доход, поставляя в аренду зарядные станции заведениям своего города. Наши устройства максимально удобны и прости в эксплуатации, с ними Вы сможете обеспечить сервис практически в любом бизнесе.

                .about__buttons
                    a.ghost-button.contact-button(href="#") Скачать презентацию

        section.video
            header.video__header
                h2.section-title.section-title--inv-d Франшиза на&nbsp;<strong>универсальные зарядные устройства</strong>


            .video__content
                .video__trigger
                .video__cover
                video#promo-vid(src="./video/Franshiza-Jast-Charger-zaryadnye-stantsii-kommercheskogo-ispolzovaniya.mp4")

        section.why
            header.why__header
                h2.section-title Почему <strong>Jast&nbsp;Charger?</strong>

            .why__content
                ol.why-list
                    li.why-list__item Средний доход партнёров от 250&nbsp;000 рублей в&nbsp;месяц
                    li.why-list__item Минимальный срок окупаемости от&nbsp;1 до&nbsp;4 месяцев
                    li.why-list__item Возможность начать с&nbsp;минимальными вложениями
                    li.why-list__item Даём возможность приобрести франшизу и&nbsp;оборудование в&nbsp;кредит
                    li.why-list__item Быстрая <br>обучаемость
                    li.why-list__item Несколько вариантов монетизации бизнеса
                    li.why-list__item Данный вид деятельность легко масштабируется в&nbsp;регионы
                    li.why-list__item До 3&nbsp;рабочих дней в&nbsp;месяц

        section.turnkey
            header.turnkey__header
                h2.section-title.section-title--inv После оплаты Вы&nbsp;получаете <strong>бизнес под ключ в&nbsp;своём городе</strong>

            .turnkey__content
                article.feature
                    .feature__icon: img(src="./img/icons/customer-support.svg", alt="Поддержка клиентов")
                    h3.feature__title Мы подберём клиентов в&nbsp;Вашем городе
                    
                article.feature
                    .feature__icon: img(src="./img/icons/box.svg", alt="Продукты")
                    h3.feature__title Дадим весь материал для&nbsp;продажи

                article.feature
                    .feature__icon: img(src="./img/icons/number-1.svg", alt="Номер 1")
                    h3.feature__title Обеспечим узнаваемость в&nbsp;городе

                article.feature
                    .feature__icon: img(src="./img/icons/cash.svg", alt="Окупаемость")
                    h3.feature__title Гарантия окупаемости или мы&nbsp;выкупим ваши устройства обратно

        section.packages
            header.packages__header
                h2.section-title Пакеты франшиз
            
            .packages__content
                //- .package-selector
                    button.package-selector__prev ◀
                    ul.package-selector__list
                        li.package-selector__item Begin
                        li.package-selector__item Start
                        li.package-selector__item.package-selector__item--current Standard
                        li.package-selector__item Million
                    button.package-selector__next ▶

                .packages__all
                    article.package
                        .package__image: img(src="./img/packages/begin.png", alt="Пакет Begin on Jast Charger")
                        .package__container
                            header.package__header
                                h3.package__title Пакет <strong>Begin One</strong>
                                p.package__income Средний месячный доход: <em>23&nbsp;000 рублей</em>

                            .package__content
                                p Пакет «BEGIN» имеет ряд преимуществ в&nbsp;сравнении с&nbsp;другими предложениями на&nbsp;франчайзинговом рынке в&nbsp;той же&nbsp;ценовой категории. Он&nbsp;был разработан специально для людей, которые хотят:
                                ul
                                    li Начать собственный бизнес 
                                    li Совмещать предпринимательскую деятельность с&nbsp;основной работой 
                                    li Начиная с&nbsp;небольших инвестиций, основать быстрорастущую компанию 
                                    li Обрести дополнительный пассивный доход от&nbsp;13&nbsp;000 до&nbsp;40&nbsp;000 рублей в месяц

                            footer.package__footer
                                p.package__price 79&nbsp;000.-

                                .package__buttons
                                    a.ghost-button(href="#") Купить
                                    a.ghost-button(href="#") Купить в кредит

                                a.package__more(href="#") Подробнее

                    article.package
                        .package__image: img(src="./img/packages/begin.png", alt="Пакет Begin on Jast Charger")
                        .package__container
                            header.package__header
                                h3.package__title Пакет <strong>Begin Two</strong>
                                p.package__income Средний месячный доход: <em>35&nbsp;000 рублей</em>

                            .package__content
                                p Пакет «BEGIN» имеет ряд преимуществ в&nbsp;сравнении с&nbsp;другими предложениями на&nbsp;франчайзинговом рынке в&nbsp;той же&nbsp;ценовой категории. Он&nbsp;был разработан специально для людей, которые хотят:
                                ul
                                    li Начать собственный бизнес 
                                    li Совмещать предпринимательскую деятельность с&nbsp;основной работой 
                                    li Начиная с&nbsp;небольших инвестиций, основать быстрорастущую компанию 
                                    li Обрести дополнительный пассивный доход от&nbsp;25&nbsp;000 до&nbsp;57&nbsp;000 рублей в месяц

                            footer.package__footer
                                p.package__price 92&nbsp;000.-

                                .package__buttons
                                    a.ghost-button(href="#") Купить
                                    a.ghost-button(href="#") Купить в кредит

                                a.package__more(href="#") Подробнее

                    article.package
                        .package__image: img(src="./img/packages/start.png", alt="Пакет Start on Jast Charger")
                        .package__container
                            header.package__header
                                h3.package__title Пакет <strong>Start</strong>
                                p.package__income Средний месячный доход: <em>110&nbsp;000 рублей</em>

                            .package__content
                                p Нашей компанией было разработано пакетное предложение «START», которое стало не&nbsp;только достойным конкурентом франшизам в&nbsp;среднем ценовом сегменте на&nbsp;рынке франчайзинга, но и&nbsp;позволило людям:
                                ul
                                    li Начать собственный бизнес с&nbsp;экономией более, чем в&nbsp;200&nbsp;000 рублей
                                    li Совместить предпринимательскую деятельность со&nbsp;своим любимым занятием либо хобби
                                    li Создать крупную компанию с&nbsp;возможностью регионального роста
                                    li Обрести дополнительный доход от&nbsp;127&nbsp;000 рублей

                            footer.package__footer
                                p.package__price 300&nbsp;000.-

                                .package__buttons
                                    a.ghost-button(href="#") Купить
                                    a.ghost-button(href="#") Купить в кредит

                                a.package__more(href="#") Подробнее

                    article.package
                        .package__image: img(src="./img/packages/standard.png", alt="Пакет Standard on Jast Charger")
                        .package__container
                            header.package__header
                                h3.package__title Пакет <strong>Standard</strong>
                                p.package__income Средний месячный доход: <em>70&nbsp;000 рублей</em>

                            .package__content
                                p Пакет «STANDART» − это универсальное предложение, подходящее для городов с&nbsp;населением от&nbsp;300&nbsp;000 человек. Благодаря объему оборудования, предоставляемого в&nbsp;данном пакете в&nbsp;совокупности с&nbsp;комплексной поддержкой головного офиса, люди получили:
                                ul
                                    li Престижный социальный статус
                                    li Совмещение предпринимательской деятельности со&nbsp;своим любимым занятием и&nbsp;хобби
                                    li Экономию более чем в&nbsp;400&nbsp;000 рублей на&nbsp;старте
                                    li Крупный бизнес с&nbsp;возможностью регионального роста
                                    li Доход от&nbsp;232&nbsp;000 рублей

                            footer.package__footer
                                p.package__price 500&nbsp;000.-

                                .package__buttons
                                    a.ghost-button(href="#") Купить
                                    a.ghost-button(href="#") Купить в кредит

                                a.package__more(href="#") Подробнее

                    article.package
                        .package__image: img(src="./img/packages/million.png", alt="Пакет Million on Jast Charger")
                        .package__container
                            header.package__header
                                h3.package__title Пакет <strong>Million</strong>
                                p.package__income Средний месячный доход: <em>415&nbsp;000 рублей</em>

                            .package__content
                                p «MILLION» – это самое крупное предложение для&nbsp;наших будующих партнеров, включающее в&nbsp;себя максимальную скидку на линейку зарядных устройств. Данный пакет был разработан для&nbsp;людей, которые хотят охватить города с&nbsp;населением от&nbsp;500&nbsp;000 человек в&nbsp;максимально сжатые сроки, а&nbsp;также осуществить быстрый старт в&nbsp;городах-миллиониках. Люди, которые открыли бизнес благодаря данному пакету, смогли получить:
                                ul
                                    li Финансовую независимость, делегировав управление компанией третьему лицу
                                    li Экономию более чем в&nbsp;850&nbsp;000 рублей на&nbsp;старте
                                    li Крупный региональный бизнес
                                    li Доход от&nbsp;546&nbsp;000 рублей

                            footer.package__footer
                                p.package__price 998&nbsp;000.-

                                .package__buttons
                                    a.ghost-button(href="#") Купить
                                    a.ghost-button(href="#") Купить в кредит

                                a.package__more(href="#") Подробнее

        section.devices
            header.devices__header
                h2.section-title Устройства, благодаря которым вы&nbsp;можете обеспечить себе <strong>стабильный пассивный доход</strong>

            .devices__content
                .slider
                    button.slider__prev &larr;
                    button.slider__next &rarr;
                    .slider__slides
                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/pandora.png", alt="Зарядная станция Pandora")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Pandora
                                        p.device__subtitle Зарядная станция из&nbsp;10 зарядных устройств. Ёмкость аккумулятора 3200&nbsp;mAh
                                    .device__content
                                        p Зарядная станция PANDORA представляет собой 10 зарядных дисков, которые установлены на платформе. Каждый диск оснащен двумя съемными проводами Apple Lightning и Micro USB. Диски заряжаются на платформе благодаря электромагнитной индукции - на каждом диске есть световой индикатор, показывающий состояние аккумулятора. Данная зарядная станция идеально подходит для работы с общепитом, кальянными, lounge-барами. Один диск одновременно заряжает два мобильных устройства. Поверхность дисков можно использовать для размещения рекламы.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/bion.png", alt="Зарядная станция Bion")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Bion
                                        p.device__subtitle Зарядная станция из&nbsp;10 зарядных устройств. Ёмкость аккумулятора 3000&nbsp;mAh
                                    .device__content
                                        p Зарядная станция BION обладает неповторимым, ярким и запоминающимся дизайном. На каждом зарядном блоке есть вытянутый световой индикатор, который показывает состояние аккумулятора. В комплекте идут провода Apple Lightning, Micro USB и USB Type-C. Заряжаются блоки также благодаря электромагнитной индукции от зарядной платформы. Зарядная станция BION идеально подходит для работы с общепитом, фитнес центрами, кальянными, lounge-барами. Поверхность дисков можно использовать для размещения рекламы.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/astra.jpg", alt="Зарядная станция Astra")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Astra
                                        p.device__subtitle Зарядная станция из&nbsp;10 зарядных устройств. Ёмкость аккумулятора 3000&nbsp;mAh
                                    .device__content
                                        p Зарядная станция ASTRA оборудована 10 компактными зарядными блоками. Поддерживаются Apple Lightning, Micro USB и USB Type-C. Подзарядка осуществляется путем прямого контакта каждого из блоков. Зарядная станция ASTRA идеально подходит для работы с фитнес клубами.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/prometheus.jpg", alt="Зарядная станция Prometheus")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Prometheus
                                        p.device__subtitle Зарядная станция из&nbsp;16 зарядных устройств. Ёмкость аккумулятора&nbsp;1600 mAh
                                    .device__content
                                        p Зарядные блоки станции Prometheus выполнены в необычном стиле, напоминающем всем до боли знакомые пальчиковые батарейки. Поддерживаются Apple Lightning, Micro USB и USB Type-C. Prometheus это решение для больших lounge-баров и для заведений, в которых отдыхают большие компании.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/volt8.png", alt="Зарядная станция Volt 8")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Volt 8
                                        p.device__subtitle Зарядная станция из&nbsp;8 зарядных устройств. Ёмкость аккумулятора 8000&nbsp;mAh
                                    .device__content
                                        p Это настоящий монстр среди зарядных станций. Станция оснащена 8 зарядными блоками по 8000 mA каждый! Помимо этого, зарядные устройства оснащены большой площадью для рекламы: её можно размещаться как на внешнюю сторону, так и на внутреннюю (на устройстве есть крышка). Поддерживаются Apple Lightning, Micro USB и USB Type-C. Зарядная станция VOLT-8 идеально подходит для работы с общепитом, кальянными, lounge-барами.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/volt3.png", alt="Зарядная станция Volt 3")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Volt 3
                                        p.device__subtitle Зарядная станция из&nbsp;3 зарядных устройств. Ёмкость аккумулятора 8000&nbsp;mAh
                                    .device__content
                                        p Аналог зарядной станции VOLT-8. Единственное отличие — это количество зарядных устройств, установленных на станцию, тут их 3. Поддерживаются Apple Lightning, Micro USB и USB Type-C. Аналогичные возможности по размещению рекламы. Идеально подходит для небольших заведений в сфере общепита.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/volt2.png", alt="Зарядная станция Volt 2")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Volt 2
                                        p.device__subtitle Зарядная станция из&nbsp;2 зарядных устройств. Ёмкость аккумулятора 8000&nbsp;mAh
                                    .device__content
                                        p Аналог зарядной станции VOLT-8. Единственное отличие — это количество зарядных устройств, установленных на станцию, тут их 2. Поддерживаются Apple Lightning, Micro USB и USB Type-C. Аналогичные возможности по размещению рекламы. Идеально подходит для тестирования услуги в небольших заведениях в сфере общепита, фитнеса, кальян-баров, lounge-баров.

                        .slider__slide
                            article.device
                                .device__image: img(src="./img/devices/atlant.png", alt="Зарядная станция Atlant")
                                .device__header-n-content
                                    header.device__header
                                        h3.device__title Pandora
                                        p.device__subtitle Зарядная станция. Ёмкость аккумулятора 13000&nbsp;mAh
                                    .device__content
                                        p Зарядная станция ATLANT это идеальное решение для заведений в сфере общепита. Все мы с Вами каждый день видим тейбл-тенты в кафе, узнаем из них новые акции, скидки, новости. Теперь они будут еще и заряжать мобильные устройства. Подходит для работы с общепитом, кальянными, lounge-барами.

        section.u-get
            header.u-get__header
                h2.section-title.section-title--inv Что получает <strong>франчайзи</strong>

            .u-get__content
                article.item
                    .item__icon: img(src="./img/icons/plug.svg", alt="Набор устройств")
                    h3.item__title Комплект зарядных станций и&nbsp;набор проводов
                    
                article.item
                    .item__icon: img(src="./img/icons/shipping.svg", alt="Доставка")
                    h3.item__title Бесплатная доставка и&nbsp;хранение
                    
                article.item
                    .item__icon: img(src="./img/icons/online-support.svg", alt="Поддержка онлайн")
                    h3.item__title Персональный менеджер
                    
                article.item
                    .item__icon: img(src="./img/icons/layer.svg", alt="Юридическая поддержка")
                    h3.item__title Юридическая поддержка
                    
                article.item
                    .item__icon: img(src="./img/icons/portal.svg", alt="Диллерский портал")
                    h3.item__title Дилерский портал
                    
                article.item
                    .item__icon: img(src="./img/icons/clients.svg", alt="Клиенты")
                    h3.item__title Предоставление конечных клиентов из&nbsp;вашего города
                    
                article.item
                    .item__icon: img(src="./img/icons/web-site.svg", alt="Веб сайт")
                    h3.item__title Представительский сайт
                    
                article.item
                    .item__icon: img(src="./img/icons/wires.svg", alt="Устройства")
                    h3.item__title Доступ к&nbsp;широкой линейке устройств
                    
                article.item
                    .item__icon: img(src="./img/icons/target.svg", alt="Цель")
                    h3.item__title Маркетинговая поддержка

            .u-get__buttons
                a.cta-button(href="#") Подробнее

        section.models
            header.models__header
                h2.section-title 4 модели <strong>монетизации бизнеса:</strong>

            .models__set
                h3.models__title Основные:

                .models__content
                    article.model
                        .model__icon: img(src="./img/icons/charging.svg", alt="Зарядка гаджетов")
                        h4.model__title от 15&nbsp;000 рублей
                        p.model__text Заряжая гаджеты клиентов, 1 станция <strong>принесёт Вам доход от 15&nbsp;000 до 60&nbsp;000 рублей в месяц</strong>

                    article.model
                        .model__icon: img(src="./img/icons/megaphone.svg", alt="Реклама")
                        h4.model__title от 3000 рублей
                        p.model__text Размещая самостоятельно рекламу на своих зарядных станциях Вы можете получать <strong>до 3&nbsp;000 рублей в месяц с одной зарядной станции</strong>

            .models__set
                h3.models__title Дополнительные:

                .models__content
                    article.model
                        .model__icon: img(src="./img/icons/rent.svg", alt="Сдача в аренду")
                        h4.model__title от 70&nbsp;000 рублей
                        p.model__text На сдаче зарядных станций в аренду. Например, аренда одной станции компании Jast Charger составляет от 7&nbsp;000 до 15&nbsp;000 рублей в месяц. Сдавая в аренду 10 станций Ваш доход в месяц составит <strong>от 70&nbsp;000 до 150&nbsp;000 рублей в месяц</strong>

                    article.model
                        .model__icon: img(src="./img/icons/resale.svg", alt="Перепродажа")
                        h4.model__title от 150&nbsp;000 рублей
                        p.model__text На перепродаже зарядного оборудования. Доход при реализации проектов франшизы варьируется <strong>от 150&nbsp;000 до 600&nbsp;000 рублей</strong>

        section.clients
            .clients__left
                header.clients__header
                    h2.section-title Наши <strong>клиенты</strong>

                .clients__left-content
                    .clients__image: img(src="./img/clients/sberbank.png", alt="Сбербанк")
                    .clients__image: img(src="./img/clients/oldboy.png", alt="сеть барбершопов Oldboy")
                    .clients__image: img(src="./img/clients/yakitoriya.png", alt="сеть ресторанов японской кухни Якитория")
                    .clients__image: img(src="./img/clients/radisson.png", alt="сеть отелей Radisson")
                    .clients__image: img(src="./img/clients/subway.png", alt="сеть ресторанов быстрого питания Subway")
                    .clients__image: img(src="./img/clients/the-office.png", alt="")

            .clients__right
                .clients__subheader
                    h3.section-title.section-title--inv Нам доверяют <strong>крупнейшие порталы</strong> франшиз

                .clients__right-content
                    .clients__image.clients__image--mb40: img(src="./img/clients/businesmens.png", alt="Бизнесменс")
                    .clients__image.clients__image--mb40: img(src="./img/clients/topfranchise.png", alt="TopFranchise.ru")
                    .clients__image.clients__image--mb40: img(src="./img/clients/beboss.png", alt="БиБосс")

        //- section.testimonials
            header.testimonials__header
                h2.section-title Отзывы

            .testimonials__content
                .slider
                    button.slider__prev <
                        button.slider__next >
                        .slider__slides
                            .slider__slide
        
        //- section.gallery
        
        section.footer
            header.footer__header
                h2.footer__title Контакты

            .footer__content
                p.footer__address Россия, г. Калининград <br>ул. Театральная, 35, офис 616 <br>(Морской Бизнес Центр)

                h3.footer__subtitle Отдел продаж:

                .footer__contacts
                    a.footer__phone(href="tel:+79097782086") +7 909 778-20-86 
                    a.footer__mail(href="mailto:manager@jast.tech") manager@jast.tech

                .footer__social
                    a.social.social--vk(href="#") ВКонтакте
                    a.social.social--inst(href="#") Инстаграм

            .footer__form
                //- <script>var amo_forms_params = {"id":388498,"hash":"cfa9f9a87997348d97dbba5013349163","locale":"ru"};</script><script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js"></script>

                //- <script>var amo_forms_params = {"id":361897,"hash":"e7f3326ccdf13ebb3dcacd1535ecdd32","locale":"ru"};</script><script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js"></script>

            p.footer__legals
                a(href="#") Договор оферты

        .contact-popup.contact-popup--hidden
            button.contact-popup__close
            .contact-popup__cover
            .contact-popup__form
                <script>var amo_forms_params = {"id":361897,"hash":"e7f3326ccdf13ebb3dcacd1535ecdd32","locale":"ru"};</script><script id="amoforms_script" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js"></script>

        script(src="./main.js")