<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero
            .hero__top
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast Charger

                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item
                            a.main-nav__link(href="#") Франшиза
                        li.main-nav__item
                            a.main-nav__link(href="#") Для Бизнеса
                        li.main-nav__item
                            a.main-nav__link(href="#") О Нас
                        li.main-nav__item
                            a.main-nav__link(href="#") FAQ
                        li.main-nav__item
                            a.main-nav__link(href="#") Новости
                        li.main-nav__item
                            a.main-nav__link(href="#") Контакты

            h1.main-title Постройте бизнес на потребности 21 века! Заработок от <em>80000</em> рублей в месяц!

            .hero__cta
                a.cta-button(href="#") Подробнее

        