<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        h1 Наши чаржеры самые чаржеры
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum praesentium aut voluptatum quia, accusamus placeat totam, perferendis, facere optio ad est porro rerum. Iure modi distinctio nulla nihil aspernatur.