<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Франшиза — Jast Charger

    body
        header.hero.hero--inner
            button.menu-button: .menu-button__middle

            .hero__top
                .logo
                    .logo__image: img(src="./img/logo.svg", alt="")
                    .logo__text Jast&nbsp;Charger

                .hero__nav
                    nav.main-nav.main-nav--inv
                        ul.main-nav__list
                            li.main-nav__item
                                a.main-nav__link(href="index.html") Франшиза
                            li.main-nav__item
                                a.main-nav__link(href="business.html") Для Бизнеса
                            li.main-nav__item
                                a.main-nav__link(href="advert.html") Реклама
                            li.main-nav__item
                                a.main-nav__link(href="about.html") О Нас
                            li.main-nav__item
                                a.main-nav__link(href="faq.html") FAQ
                            li.main-nav__item
                                a.main-nav__link.main-nav__link--current(href="#") Новости
                            li.main-nav__item
                                a.main-nav__link(href="contacts.html") Контакты

        section.news
            header.news__header
                h2.section-title Новости о самом <em>главном</em>

            .news__content
                a.news-item(href="text-page.html")
                    .news-item__image: img(src="./img/news/1.png", alt="")
                    h3.news-item__title Американский стартап PI изобрёл по-настоящему беспроводную зарядку
                    
                a.news-item(href="text-page.html")
                    .news-item__image: img(src="./img/news/2.png", alt="")
                    h3.news-item__title Just Charger — партнёр крупнейшего в мире интернет-банка
        
                a.news-item(href="text-page.html")
                    .news-item__image: img(src="./img/news/3.jpg", alt="")
                    h3.news-item__title Япония — страна восходящего солнца
                    
                a.news-item(href="text-page.html")
                    .news-item__image: img(src="./img/news/4.jpg", alt="")
                    h3.news-item__title Твердотельные аккумуляторы для смартфонов появятся через год или два

                a.news-item(href="text-page.html")
                    .news-item__image: img(src="./img/news/5.jpg", alt="")
                    h3.news-item__title Почему Jast Charger — это идеальное решение для обеспечения сервиса в Вашем бизнесе


        section.footer
            header.footer__header
                h2.footer__title Контакты

            .footer__content
                .footer__a-n-c
                    p.footer__address Россия, г. Калининград <br>ул. Театральная, 35, офис 616 <br>(Морской Бизнес Центр)

                    .footer__contacts
                        h3.footer__subtitle Отдел продаж:
                        a.footer__phone(href="tel:+79097782086") +7 909 778-20-86<br>
                        a.footer__mail(href="mailto:manager@jast.tech") manager@jast.tech

                .footer__social
                    a.social.social--vk(href="#") ВКонтакте
                    a.social.social--inst(href="#") Инстаграм

                    p.footer__legals
                        a(href="#") Договор оферты

        script(src="./news.js")